<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-1"></div>
        <div class="col-3 d-flex align-items-center justify-content-center">
            <%= link_to image_tag(gravatar_for(micropost.user), class: 'w-100'), user_path(micropost.user) %>
        </div>
        <div class="col-8 d-flex align-items-center justify-content-center">
            <div class="card-body">
                <h5 class="card-title"><%= link_to micropost.user.name, user_path(micropost.user), class: 'text-dark' %></h5>
                <p class="card-text"><%= micropost.content %></p>
                <p class="card-text"><small class="text-muted"><%= micropost.created_at %></small></p>
            </div>
        </div>
    </div>
</div>
