<main role="main" class="mx-auto py-5">
    <div class="container  bg-info">
        <div id="carouselExampleIndicators" class="carousel text-center slide p-5 mx-auto" data-ride="carousel">
            <h1 class="my-3 text-white" style="font-family: 'Comic Sans MS';">About Us</h1>
            <p>This is just a simple micro-blogging site, where you can post and interact with other people.</p>
        </div>
    </div>
</main>
