<main role="main" class="mx-auto py-5">
    <div class="container  bg-danger">
        <div id="carouselExampleIndicators" class="carousel text-center slide p-5 mx-auto" data-ride="carousel">
            <h1 class="my-3" style="font-family: 'Comic Sans MS';">Awesomeblog</h1>
            <p>Welcome to awesomeblog</p>
        </div>
    </div>
</main>
